@font-face {
  font-family: "fantasy";
  src: url("fantasy.woff") format('woff');
}

body {
  background-color: #D5F5E3;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

header {
  width: 100vw;
  height: 150px;
  text-align: center;
  font-family: "fantasy", "Verdana", "sans-serif";
  background-color: #1ABC9C;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 5px;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.bears {
  max-width: 1000px;
  max-height: 1000px;
  width: 100vw;
  height: calc(100% - 150px);

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.bear {
  display: flex;
  width: 33%;
  height: 33%;
  border: 1px solid #0E6655;
  font-size: 30px;

  justify-content: center;
  align-items: center;

  font-family: "fantasy", "Verdana", "sans-serif";

  background-color: #D5F5E3;
  transition: background-color 1s;
}

.bear.clicked {
  background-color: #1ABC9C;
  text-decoration: line-through;
}

.bear img {
  max-width: 250px;
  width: 25vw;
  height: auto;
}

.bear span {
  text-align: center;
}

.popup {
  position: fixed;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;

  font-size: 40px;
  font-family: "fantasy", "Verdana", "sans-serif";
  text-align: center;

  border: 5px solid white;
  border-radius: 20px;
  background-color: rgba(14, 102, 85, .95);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .bear {
    width: 30%;
    height: 30%;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .bear {
    font-size: 25px;
  }
}