@font-face {
  font-family: "fantasy";
  src: url("fantasy.woff") format('woff');
}


.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

header {
  width: 100vw;
  height: 150px;
  text-align: center;
  font-family: "fantasy", "Verdana", "sans-serif";

  background-color: #7bde5f;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 5px;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.bears {
  max-width: 1000px;
  max-height: 1000px;
  width: 100vw;
  height: calc(100% - 150px);

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.bear {
  display: flex;
  width: 33%;
  height: 33%;
  border: 1px solid black;
  font-size: 30px;

  justify-content: center;
  align-items: center;

  font-family: "fantasy", "Verdana", "sans-serif";
}

.bear img {
  max-width: 250px;
  width: 25vw;
  height: auto;
}

.bear span {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .bear {
    width: 30%;
    height: 30%;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .bear {
    font-size: 25px;
  }
}